@import "mixins";

.contract {
    #accordion1 {
        p, li {
            font-size: 1.2em;
            line-height: 2em;
        }
    }
    .page-header {
        margin: inherit;
    }
    .panel-group{
        margin: 10px 20px;
    }
    h4 {
        color: $dark-gray;
        font-weight: bold;
        font-size: 16px;
    }
    .panel {
        margin: 0 0 5px -20px;
    }

    .panel-title {
        margin-left: 20px;
    }

    .panel-heading.accordion-toggle:after {
        font-family:'Glyphicons Halflings';
        content:"\e114";
        float: left;
        position: relative;
        bottom: 16px;
        font-size: 10px;
        color: $gray;
    }
    .panel-heading.accordion-toggle.collapsed:after {
        content:"\e080";
    }
    .panel-heading {
        z-index: 1;
    }
    .panel-heading.collapsed .btnEdit {
        color:#c2c2c2;
        z-index: 1000;
    }
    .panel-heading .btnEdit {
        color:#900;
        z-index: 1000;
    }
    .panel-heading:hover {
        cursor: pointer;
    }
    .panel-heading:hover h4 {
        text-decoration: underline;
    }
    ol.decimal {
        list-style-type:decimal;
    }
    ol.lower-alpha {
        list-style-type:lower-alpha;
    }
}