@import "mixins";

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
#wrapper.toggled {
    padding-left: 220px;
    overflow: hidden;
}
#sidebar-wrapper {
    position: absolute;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    background: $light-gray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}
.fixed-brand{
    width: auto;
}

/* Sidebar Styles */
.company__block {
    height: 110px;
    margin: -18px 0 0 0;
    background-color: $green;

    h3 {
        font-size: 1.5em;
        padding: 15px 0 5px 0;
        color: $dark-gray;
    }
}
.sidebar-nav {
    position: absolute;
    top: 110px;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $dark-gray;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: $light-gray;
    background: $dark-gray;
    border-left: red 2px solid;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }
    .fixed-brand{
        width: 220px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 220px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 220px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
        margin-top: -100px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        //TODO: Add Tooltips/Flyout Menu
        //width: 220px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 220px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -180px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}
