@import "mixins";

.faux-tabs {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $light-gray;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul { display: flex; }

    li {
        background-color: $dark-gray;
        width: 110px;
        padding: 0.75em 0;
        text-align: center;
        border:1px solid $light-gray;
        border-radius: 3px 3px 0 0;
        margin: -1px 2px -1px 0;

        &.active {
            background-color: $light-gray;
            a {
                color: $dark-gray;
                font-weight: bold;
            }
        }

        &:hover {
            background-color: $black;
            text-decoration: none;
        }

        a {
            font-size: 0.9em;
            line-height: 1.4em;
            color: $white;
            text-transform: uppercase;

            &:hover {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

/* tab color */
.nav-tabs>li>a {
    background-color: #333333;
    border-color: #777777;
    color:#fff;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #666;
    border: 1px solid #888888;
}

/* hover tab color */
.nav-tabs>li>a:hover {
    border-color: #000000;
    background-color: #111111;
}