@import "mixins";

.faux-tabs {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $light-gray;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul { display: flex; }

    li {
        background-color: $dark-gray;
        width: 110px;
        padding: 0.75em 0;
        text-align: center;
        border:1px solid $light-gray;
        border-radius: 3px 3px 0 0;
        margin: -1px 2px -1px 0;

        &.active {
            background-color: $light-gray;
            a {
                color: $dark-gray;
                font-weight: bold;
            }
        }

        &:hover {
            background-color: $black;
            text-decoration: none;
        }

        a {
            font-size: 0.9em;
            line-height: 1.4em;
            color: $white;
            text-transform: uppercase;

            &:hover {
                color: $white;
                text-decoration: none;
            }
        }
    }
}